<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<form action="/" method="post">
    User Name : <input type="text" name="username"/><br/>
    Password : <input type="password" name="password"/><br/>
    <button type="button">Log in</button>
</form>
</body>
</html>