<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../partials/includecss.ejs %>
</head>
<body>
<div id="wrapper">
    <!-- start header -->
    <%- include ../partials/header.ejs %>
    <section id="content">
        <div>
            <h1>Commission Page</h1>
        </div>
    </section>
    <%- include ../partials/footer.ejs %>
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<%- include ../partials/includejs.ejs%>
</body>
</html>
